

#node 

language: node_js
node_js:
  - "8"
  
script:
  - "echo build"
  - "npm run build"
  - "npm run test"
  - "echo $TRAVIS_BRANCH"
  - "echo $TRAVIS_TAG"  

deploy:
  provider: s3
  access_key_id: "$AWS_KEY_ID"
  secret_access_key: "$AWS_KEY_SECRET"
  bucket: "corporate-ui-deploy-test"
  region: "eu-west-1"
  local_dir: "dist"
  upload_dir: "mmexvr-fork/$TRAVIS_BRANCH"
  skip_cleanup: true
  acl: public_read
  on:
    branch: $TRAVIS_BRANCH

# deploy:
#   provider: npm
#   email: "andreas.wikstrom@scania.com"
#   api_key: "$NPM_ACCESS_KEY"
#   on:
#     branch: master


language: python
  
#branches: 
#  only: 
#  -  /^deploy-.*$/
#  - master

install:
  - pip install awscli
  - aws configure set aws_access_key_id $AWS_KEY_ID
  - aws configure set aws_secret_access_key $AWS_KEY_SECRET
  - aws configure set default.region $AWS_DEFAULT_REGION
  - aws s3 rm s3://corporate-ui-deploy-test/mmexvr-fork/$TRAVIS_BRANCH 
