#Xenial version for upgraded Pip
dist: xenial
language: python
python:
  - "3.6"

#whitelist branch
branches: 
 only: 
 -  /^deploy-.*$/
 - master

#Npm setup for building dist
script:
  - "echo building $TRAVIS_BRANCH"
  - "echo $TRAVIS_BRANCH"
  - "echo $TRAVIS_PULL_REQUEST"
  - "echo $TRAVIS_COMMIT"
  - "echo $TRAVIS_TAG"
  - "npm i"
  - "npm run build"
  - "npm run test"
  
#Removing the current folder
before_deploy:
# - pip install --upgrade pip
- |
  if [$TRAVIS_TAG]; then
    pip install awscli
    aws configure set aws_access_key_id $AWS_KEY_ID
    aws configure set aws_secret_access_key $AWS_KEY_SECRET
    aws configure set default.region $AWS_DEFAULT_REGION
    aws s3 rm --recursive s3://corporate-ui-deploy-test/mmexvr-fork/build/global/branch/$TRAVIS_BRANCH
  fi
 
#deploy for S3 on AWS
deploy:
  - provider: s3
    access_key_id: "$AWS_KEY_ID"
    secret_access_key: "$AWS_KEY_SECRET"
    bucket: "corporate-ui-deploy-test"
    region: "eu-west-1"
    local_dir: "dist"
    upload_dir: "mmexvr-fork/build/global/branch/$TRAVIS_BRANCH"
    skip_cleanup: true
    acl: public_read
    on:
      branch: $TRAVIS_BRANCH
      tags: false

  - provider: s3
    access_key_id: "$AWS_KEY_ID"
    secret_access_key: "$AWS_KEY_SECRET"
    bucket: "corporate-ui-deploy-test"
    region: "eu-west-1"
    local_dir: "dist"
    upload_dir: "mmexvr-fork/build/global/releases/$TRAVIS_TAG"
    skip_cleanup: true
    acl: public_read
    on:
      branch: $TRAVIS_TAG
      tags: true
