language: python
python:
  - "3.6"

#whitelist branch
branches: 
 only: 
 -  /^deploy-.*$/
 - master

#python for aws cli
#Removing the current folder
install:
- pip install --upgrade pip
- pip install awscli
- aws configure set aws_access_key_id $AWS_KEY_ID
- aws configure set aws_secret_access_key $AWS_KEY_SECRET
- aws configure set default.region $AWS_DEFAULT_REGION
- aws s3 rm --recursive s3://corporate-ui-deploy-test/mmexvr-fork/

#Npm setup for building dist
script:
  - "echo building $TRAVIS_BRANCH"
  - "npm i"
  - "npm run build"
  - "npm run test"
  - "echo $TRAVIS_BRANCH"
  - "echo $TRAVIS_TAG"

#deploy for S3 on AWS
deploy:
  provider: s3
  access_key_id: "$AWS_KEY_ID"
  secret_access_key: "$AWS_KEY_SECRET"
  bucket: "corporate-ui-deploy-test"
  region: "eu-west-1"
  local_dir: "dist"
  upload_dir: "mmexvr-fork/build/global/branch/$TRAVIS_BRANCH"
  skip_cleanup: true
  acl: public_read
  on:
    branch: $TRAVIS_BRANCH
