language: node_js
node_js:
  - "8"

script:
  - "npm i"
  - "npm run build"
  - "npm run test"
  - "echo $TRAVIS_BRANCH"
  - "echo $TRAVIS_TAG"

deploy:
  provider: s3
  if: branch = "master"
  access_key_id: "$AWS_KEY_ID"
  secret_access_key: "$AWS_KEY_SECRET"
  bucket: "corporate-ui-deploy-test"
  region: "eu-west-1"
  local_dir: "dist"
  upload_dir: "mmexvr-fork/$TRAVIS_BRANCH"
  skip_cleanup: true
  acl: public_read
  on:
    branches: 
      only: $TRAVIS_BRANCH

# deploy:
#   provider: npm
#   email: "andreas.wikstrom@scania.com"
#   api_key: "$NPM_ACCESS_KEY"
#   on:
#     branch: master
